p{
    font-family:'Times New Roman', Times, serif;
}

h3 {
    font-weight:bold;
}

ion-icon{
    color: black;
}

* {
    color: black;
}

ion-title{
    color: black;
    text-align: center;
}

.footer{
   
    width: 100%;
}

.ion-page{
    width: 100%;
}

ion-menu-button{
    color: dark;
}

.color{
    background-color:cornflowerblue;
}
ion-footer{
    color: cornflowerblue;
}


