<ion-grid>
    <ion-row>
        <ion-col size="12" size-md="3">
            <div>
                <ion-title>Articulo 1</ion-title>
                <ion-img src="./assets/imagenes/art1.jpg"></ion-img>
                <ion-button>Agregar al carrito</ion-button>

            </div>
        </ion-col>
        <ion-col size="12" size-md="3">
            <div>
                <ion-title>Articulo 2</ion-title>
                <ion-img src="./assets/imagenes/art2.jpg"></ion-img>
                <ion-button>Agregar al carrito</ion-button>
                
            </div>
        </ion-col>
        <ion-col size="12" size-md="3">
            <div>
                <ion-title>Articulo 3</ion-title>
                <ion-img src="./assets/imagenes/art3.jpg"></ion-img>
                <ion-button>Agregar al carrito</ion-button>
                
            </div>
        </ion-col>
        <ion-col size="12" size-md="3">
            <div>
                <ion-title>Articulo 4</ion-title>
                <ion-img src="./assets/imagenes/art4.jpg"></ion-img>
                <ion-button>Agregar al carrito</ion-button>
                
            </div>
        </ion-col>
        <ion-col size="12" size-md="3">
            <div>
                <ion-title>Articulo 5</ion-title>
                <ion-img src="./assets/imagenes/art5.jpg"></ion-img>
                <ion-button>Agregar al carrito</ion-button>
                
            </div>
        </ion-col>
        <ion-col size="12" size-md="3">
            <div>
                <ion-title>Articulo 6</ion-title>
                <ion-img src="./assets/imagenes/art6.jpg"></ion-img>
                <ion-button>Agregar al carrito</ion-button>
                
            </div>
        </ion-col>
        <ion-col size="12" size-md="3">
            <div>
                <ion-title>Articulo 7</ion-title>
                <ion-img src="./assets/imagenes/art7.jpg"></ion-img>
                <ion-button>Agregar al carrito</ion-button>
                
            </div>
        </ion-col>
        <ion-col size="12" size-md="3">
            <div>
                <ion-title>Articulo 8</ion-title>
                <ion-img src="./assets/imagenes/art8.jpg"></ion-img>
                <ion-button>Agregar al carrito</ion-button>
                
            </div>
        </ion-col>
        <ion-col size="12" size-md="3">
            <div>
                <ion-title>Articulo 9</ion-title>
                <ion-img src="./assets/imagenes/art9.jpg"></ion-img>
                <ion-button>Agregar al carrito</ion-button>
                
            </div>
        </ion-col>
        <ion-col size="12" size-md="3">
            <div>
                <ion-title>Articulo 10</ion-title>
                <ion-img src="./assets/imagenes/art10.jpg"></ion-img>
                <ion-button>Agregar al carrito</ion-button>
                
            </div>
        </ion-col>
        <ion-col size="12" size-md="3">
            <div>
                <ion-title>Articulo 11</ion-title>
                <ion-img src="./assets/imagenes/art11.jpg"></ion-img>
                <ion-button>Agregar al carrito</ion-button>
                
            </div>
        </ion-col>
        <ion-col size="12" size-md="3">
            <div>
                <ion-title>Articulo 12</ion-title>
                <ion-img src="./assets/imagenes/art12.jpg"></ion-img>
                <ion-button>Agregar al carrito</ion-button>
                
            </div>
        </ion-col>
        <ion-col size="12" size-md="3">
            <div>
                <ion-title>Articulo 13</ion-title>
                <ion-img src="./assets/imagenes/art13.jpg"></ion-img>
                <ion-button>Agregar al carrito</ion-button>
                
            </div>
        </ion-col>
        <ion-col size="12" size-md="3">
            <div>
                <ion-title>Articulo 14</ion-title>
                <ion-img src="./assets/imagenes/art14.jpg"></ion-img>
                <ion-button>Agregar al carrito</ion-button>
                
            </div>
        </ion-col>
        <ion-col size="12" size-md="3">
            <div>
                <ion-title>Articulo 15</ion-title>
                <ion-img src="./assets/imagenes/art15.jpg"></ion-img>
                <ion-button>Agregar al carrito</ion-button>
                
            </div>
        </ion-col>
        <ion-col size="12" size-md="3">
            <div>
                <ion-title>Articulo 16</ion-title>
                <ion-img src="./assets/imagenes/art16.jpg"></ion-img>
                <ion-button>Agregar al carrito</ion-button>
                
            </div>
        </ion-col>
        <ion-col size="12" size-md="3">
            <div>
                <ion-title>Articulo 17</ion-title>
                <ion-img src="./assets/imagenes/art17.jpg"></ion-img>
                <ion-button>Agregar al carrito</ion-button>
                
            </div>
        </ion-col>
        <ion-col size="12" size-md="3">
            <div>
                <ion-title>Articulo 18</ion-title>
                <ion-img src="./assets/imagenes/art18.jpg"></ion-img>
                <ion-button>Agregar al carrito</ion-button>
                
            </div>
        </ion-col>
        <ion-col size="12" size-md="3">
            <div>
                <ion-title>Articulo 19</ion-title>
                <ion-img src="./assets/imagenes/art19.jpg"></ion-img>
                <ion-button>Agregar al carrito</ion-button>
                
            </div>
        </ion-col>
        <ion-col size="12" size-md="3">
            <div>
                <ion-title>Articulo 20</ion-title>
                <ion-img src="./assets/imagenes/art20.jpg"></ion-img>
                <ion-button>Agregar al carrito</ion-button>
                
            </div>
        </ion-col>
    </ion-row>
</ion-grid>
